.Quiz{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.options{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}

.options button{
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: rgb(228, 228, 228);
    font-size: 1rem;
    cursor: pointer;
    color: #333;
}

.options button:hover{
    background-color: rgb(138, 138, 138);
}

button{
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: greenyellow;
    cursor: pointer;
}

button:hover{
    background-color: rgb(132, 213, 10);
}

.results{
    text-align: left;
}

.results h2{
    color: greenyellow;
    font-size: 1.8rem;
}

.results ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.results li{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}



